.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background: #61dafb;
  height: 2.5rem;
  width:4.5rem;
}

.about {
  min-height: 100vh;
  
}

.greetings {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#282c34;
 
}


a:link {
  text-decoration: none;
  font-size: large;
  color: Orange;
}

.links {
  background-color: black;
  color: white;
  
}

.links a:visited {
  color:white
}